%h1 Listing skill_to_users

%table
  %thead
    %tr
      %th Level
      %th User
      %th Skill
      %th
      %th
      %th

  %tbody
    - @skill_to_users.each do |skill_to_user|
      %tr
        %td= skill_to_user.level
        %td= skill_to_user.user
        %td= skill_to_user.skill
        %td= link_to 'Show', skill_to_user
        %td= link_to 'Edit', edit_skill_to_user_path(skill_to_user)
        %td= link_to 'Destroy', skill_to_user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Skill to user', new_skill_to_user_path
