.modal.fade{ id: "edit-list-modal-#{list.id}", tabindex: "-1", role: "dialog", aria: { labelledby: "edit-list-modal-#{list.id}", hidden: true } }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title
          = "Edit #{ list.name }"
        %button.close{ data: { dismiss: "modal" }, aria: { label: "Close" } }
          %span{ aria: { hidden: true } }
            &times;

      = form_for list, url: project_list_path(@project.id, list.id), method: :patch do |f|
        = render 'lists/form', f: f
