%p#notice= notice

%p
  %b Name:
  = @team.name
%p
  %b Description:
  = @team.description
%p
  %b Durability:
  = @team.durability

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
