= form_for @contract do |f|
  - if @contract.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
      %ul
        - @contract.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :start
    = f.date_select :start
  .field
    = f.label :end
    = f.date_select :end
  .field
    = f.label :salary_percentage
    = f.number_field :salary_percentage
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :position
    = f.text_field :position
  .actions
    = f.submit 'Save'
