%p#notice= notice

%p
  %b Start:
  = @contract.start
%p
  %b End:
  = @contract.end
%p
  %b Salary percentage:
  = @contract.salary_percentage
%p
  %b User:
  = @contract.user
%p
  %b Position:
  = @contract.position

= link_to 'Edit', edit_contract_path(@contract)
\|
= link_to 'Back', contracts_path
