.modal.fade{ id: "task-modal-#{task.id}", tabindex: "-1", role: "dialog", aria: { labelledby: "taks-modal-#{task.id}", hidden: true } }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title
          = task.name
          %span.badge.badge-success= 'DONE' if task.done
        %button.close{ data: { dismiss: "modal" }, aria: { label: "Close" } }
          %span{ aria: { hidden: true } }
            &times;

      .modal-body
        %p.text-center.font-weight-bold= "Priority: #{task.priority.humanize}"
        - if task.user
          %p.text-center
            Assigned to
            = link_to task.user.full_name, user_path(task.user)
        %hr
        - if task.description.present?
          %p= task.description
          %hr
        %p.font-weight-bold= "Deadline on #{formatted_date(task.deadline)}" if task.deadline
        %p= "Started on #{formatted_date(task.start_time)}" if task.start_time
      .modal-footer
        %button.btn.btn-outline-dark{ data: { dismiss: "modal" } }
          Close
        .dropdown
          %button.btn.btn-outline-dark.dropdown-toggle{ id: "move-task-dropdown", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } }
            = "Move to..."
          .dropdown-menu{ aria: { labelledby: "move-task-dropdown" } }
            - @project.lists.each do |l|
              = link_to l.name, project_list_task_path(@project.id, task.list.id, task.id, task: { list_id: l.id }), method: :patch, class: 'dropdown-item' unless l.id == task.list.id
        %button.btn.btn-dark{ data: { toggle: "modal", target: "#edit-task-modal-#{task.id}"} }
          Edit
        - if task.done
          = link_to project_list_task_path(@project.id, task.list.id, task.id, task: { done: false }), method: :patch do
            %button.btn.btn-danger
              Undone
        - else
          = link_to project_list_task_path(@project.id, task.list.id, task.id, task: { done: true }), method: :patch do
            %button.btn.btn-success
              Mark as done