%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Start time:
  = @task.start_time
%p
  %b Deadline:
  = @task.deadline
%p
  %b Priority:
  = @task.priority
%p
  %b List:
  = @task.list
%p
  %b Done:
  = @task.done

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
