%h4 Profile
%h3.text-center
  = @user.full_name
%p.text-center
  = @user.email
- if @user.city.present? && @user.country.present?
  %p
    = "#{ @user.city }, #{ @user.country }"
- elsif @user.city.present? || @user.country.present?
  %p
    = @user.city
    = @user.country 
- if formatted_birthdate(@user.birthdate) || @user.birth_country.present?
  %p
    = "#{ formatted_birthdate(@user.birthdate) } (#{ @user.birth_country })"
- if @user.phone.present?
  %p
    = @user.phone
- if @user.facebook_url.present?
  %p
    = link_to 'Facebook', @user.facebook_url
- if @user.linkedin_url.present?
  %p
    = link_to 'LinkedIn', @user.linkedin_url
- if @user.skills.any?
  %p
    %b Skills:
    - @user.skills.each do |skill|
      = "#{ skill.name }; "

- if @user == current_user
  = link_to edit_user_path(@user) do
    %button.btn.btn-dark
      Edit
