%h1.text-center Dashboard
.row
  .col-6.my-3.border-right
    %h4 Projects
    - if @projects.any?
      .list-group.list-group-flush
        - @projects.each do |project|
          = render 'projects/project', project: project
      = link_to projects_path(user_id: @user.id) do
        %button.btn.btn-dark
          View all
      = link_to finished_projects_path(user_id: @user.id) do
        %button.btn.btn-outline-dark
          Finished
    - else
      %p.text-center
        You don't have any project yet.
  .col-6.my-3
    %h4 Teams
    - if @user.teams.any?
      .list-group.list-group-flush
        = render @user.teams
    - else
      %p.text-center
        You are not member of any team yet.

.row.border-top
  .col-6.my-3.border-right
    = render 'profile'
  .col-6.my-3
    = render 'contract'