.row.justify-content-center
  .col-6
    .jumbotron.text-center
      %h1.display-4
        = @user.full_name
      %hr.my-4
      %p.lead
        = @user.email
      - if @user.city.present? && @user.country.present?
        %p
          = "#{ @user.city }, #{ @user.country }"
      - elsif @user.city.present? || @user.country.present?
        %p
          = @user.city
          = @user.country 
      - if @user.birthdate || @user.birth_country.present?
        %p
          = "#{ @user.birthdate } (#{ @user.birth_country })"
      - if @user.phone.present?
        %p
          = @user.phone
      - if @user.facebook_url.present?
        %p
          = link_to 'Facebook', @user.facebook_url
      - if @user.linkedin_url.present?
        %p
          = link_to 'LinkedIn', @user.linkedin_url
      - if @user.skills.any?
        %p
          %b Skills:
          - @user.skills.each do |skill|
            = "#{ skill.name }; "
      - if @user.positions.any?
        %p
          %b Positions:
          - @user.positions.each do |position|
            %p= "#{position.name} - #{position.level.humanize} #{position.area.humanize}"

    = link_to dashboard_user_path(current_user) do
      %button.btn.btn-lg.btn-outline-dark
        Back
    - if @user == current_user
      = link_to edit_user_path(@user) do
        %button.btn.btn-lg.btn-dark
          Edit
