%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Visibility:
  = @project.visibility.humanize
%p
  %b Start time:
  = formatted_date(@project.start_time)
%p
  %b Deadline:
  = formatted_date(@project.deadline)
%p
  %b Priority:
  = @project.priority.humanize
- if @project.teams.any?
  %p
    %b Teams:
    = render @project.teams
- if @project.users.any?
  %p
    %b Memebers:
  %ul
    - @project.users.each do |user|
      %li
        = formatted_worker(user, admin_user_path(user))


= link_to admin_projects_path do
  %button.btn.btn-lg.btn-outline-dark
    Back
= link_to edit_admin_project_path(@project) do
  %button.btn.btn-lg.btn-dark
    Edit
