%h1 Listing user_to_teams

%table
  %thead
    %tr
      %th Role
      %th User
      %th Team
      %th
      %th
      %th

  %tbody
    - @user_to_teams.each do |user_to_team|
      %tr
        %td= user_to_team.role
        %td= user_to_team.user
        %td= user_to_team.team
        %td= link_to 'Show', user_to_team
        %td= link_to 'Edit', edit_user_to_team_path(user_to_team)
        %td= link_to 'Destroy', user_to_team, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User to team', new_user_to_team_path
