= form_for @team_to_project do |f|
  - if @team_to_project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team_to_project.errors.count, "error")} prohibited this team_to_project from being saved:"
      %ul
        - @team_to_project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :team
    = f.text_field :team
  .field
    = f.label :project
    = f.text_field :project
  .actions
    = f.submit 'Save'
