%p#notice= notice

%p
  %b Team:
  = @team_to_project.team
%p
  %b Project:
  = @team_to_project.project

= link_to 'Edit', edit_team_to_project_path(@team_to_project)
\|
= link_to 'Back', team_to_projects_path
