%h1 Listing user_to_projects

%table
  %thead
    %tr
      %th Role
      %th User
      %th Project
      %th
      %th
      %th

  %tbody
    - @user_to_projects.each do |user_to_project|
      %tr
        %td= user_to_project.role
        %td= user_to_project.user
        %td= user_to_project.project
        %td= link_to 'Show', user_to_project
        %td= link_to 'Edit', edit_user_to_project_path(user_to_project)
        %td= link_to 'Destroy', user_to_project, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User to project', new_user_to_project_path
