%p#notice= notice

%p
  %b Role:
  = @user_to_project.role
%p
  %b User:
  = @user_to_project.user
%p
  %b Project:
  = @user_to_project.project

= link_to 'Edit', edit_user_to_project_path(@user_to_project)
\|
= link_to 'Back', user_to_projects_path
